{% load i18n %}



<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	{% block head %}
{{ wizard.form.media }}
<style>



.errorlist{
    font-weight: bold;
    color: orangered;
}


#banner {
    padding: 0 0 0 0 !important;
}
</style>

	<head>
        <link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.css" />

         <script src="/static/js/moment.js"></script>
        <script src="/static/js/jquery-1.8.3.min.js"></script>
        <script src="/static/js/multi_select.js"></script>

        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.scrolly.min.js"></script>
        <script src="/static/js/bootstrap-datetimepicker.min.js"></script>

        <script src="/static/js/skel.min.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="/static/js/main.js"></script>
		<title>EMS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

	</head>
{% endblock %}
{% block content %}
<script>
$(function () {
    $('#datetimepicker1').datetimepicker({
        locale:'en'
    });
    $('#datetimepicker2').datetimepicker({
        locale:'en'
    });
});

</script>
   <body>

		<!-- Header -->
			<header id="header">
				<a href="{% url 'user_home' %}" class="logo">EMS</a>
				<nav class="right">
					<a href="{% url 'logout_user' %}" class="button alt">Log out</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="{% url 'login_user' %}" class="button fit">Login</a></li>
				</ul>
			</nav>

                    {% if msg %}
                                <div style="width: 37%;margin-left: 510px;" class="alert alert-success" >
                                      {{ msg }}.
                                    </div>
                    {% endif %}
        <h2 style="font-size: 20px;margin:11px 0 13px 51px;text-align: center;width: 100%;">Employees Schedule In Bulk </h2>
		<!-- Banner -->

			        <form action="" onsubmit="multipleSelectOnSubmit()" method="post">{% csrf_token %}
                        <div class="row form-inline form-group" style="margin-left: 527px;margin-bottom: 100px;">
                        <fieldset>
                        <div class="">
                                <label for="name" class="control-label">Shift Starts:</label>
                        </div>
                        <div class="form-group">
                                  <div class='input-group date' id='datetimepicker1'>
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <input type='text' name="shift_starts"  class="form-control" placeholder="Date & Time" />
                                  </div>
                        </div>
                        <div class="">
                           <label for="name" class="control-label">Shift Ends:</label>
                        </div>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <input type='text' name="shift_ends"  class="form-control" placeholder="Date & Time" />
                                  </div>
                        </div>
                        <div class="">
                                <label for="id_availability">Availability:</label>
                        </div>
                        <div class="form-group">
                                <select id="id_availability" name="availability">
                                    <option value="1">Unknown</option>
                                    <option value="2" selected="selected">Yes</option>
                                    <option value="3">No</option>
                                </select>

                        </div>
                        <div class="">
                            <label for="name" class="control-label">Recuring</label>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="recurrance" placeholder="repeat event couple of time">
                            <option value="0">Select a recuring event</option>
                            <option value="4 weeks">Repeat 1 month</option>
                            <option value="8 weeks">Repeat 2 month</option>
                            <option value="12 weeks">Repeat 3 month</option>
                            <option value="16 weeks">Repeat 4 month</option>
                        </select>
                        </div>
                        <div class="">
                             <label for="name" class="control-label">Select Users:</label>
                        </div>
                        <div class="form-group">
                            <div class="hiding" style="width: 220px;float: left; ">

                                            <div class="formRow" style="    margin-top: -17px;">
                                                <label for="field0">&nbsp;</label>

                                                <select multiple name="fromBox_cats" id="fromBox_cats">
                                                                                                          {% for user_obj in user_object %}
                                                                                                    <option value="{{ user_obj.id }}">{{ user_obj.fullname }}</option>
                                                                                                    {% endfor %}
                                                </select>
                                                <select multiple name="toBox_cats[]" id="toBox_cats" style="margin-left:35px;">
                                                </select>





                                                <script type="text/javascript">
                                                    createMovableOptions("fromBox_cats", "toBox_cats", 650, 80, 'All Users', 'Selected Users');
                                                </script>
                                            </div>

                                        </div>

                                        <script type="text/javascript">
                                            createMovableOptions("VM_List", "selected_VM_List", 650, 80, 'All Users', 'Selected Users');
                                        </script>

                        </div>
                         <input type="submit" style="margin-left: 350px;" value="save and add another">
                        </fieldset>
                        </div>
                    </form>




		<!-- One -->

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->

	</body>
    <script type="application/javascript">

$('#schedule_task_button').click(function(e){

  var vm_s = typeof $('#toBox_cats option').val()
  if ($('#select_task').val() != 'up_down') {
    if($('#select_task')[0].selectedIndex == 0){
        $('#lbl_vmtovm_error_msg_add').text('Please select a valid task')
        $('#lbl_vmtovm_error_msg').show()
        e.preventDefault();
    }
    else if ($('#task_lable').val().length == 0) {
          $('#lbl_vmtovm_error_msg_add').text('Please give your task a label')
          $('#lbl_vmtovm_error_msg').show()
          e.preventDefault();
      }
      else if (!moment($('#slider_example_4').val()).isValid()) {
          $('#lbl_vmtovm_error_msg_add').text('Please Select a valid date')
          $('#lbl_vmtovm_error_msg').show()
          e.preventDefault();

      }
      else if($('#enable_reccuring').is(':checked') && $('#above_time').is(':checked') && (!$.isNumeric($('#recurring_days').val()) || $('#recurring_days').val().length == 0)){
          $('#lbl_vmtovm_error_msg_add').text('Please give a numeric number for recurrance')
          $('#lbl_vmtovm_error_msg').show()
          e.preventDefault();
      }
      else if ($('#enable_reccuring').is(':checked') && !($('#above_time').is(':checked') || $('#given').is(':checked'))) {
        $('#lbl_vmtovm_error_msg_add').text('Please check at least one option to set your preferred recurrence type')
        $('#lbl_vmtovm_error_msg').show()
        e.preventDefault();

      }

      else if($('#task_email').is(':checked') && $.trim( $('#user_email').val()).length == 0){
          $('#lbl_vmtovm_error_msg_add').text('Please provide at least one email address for task initiation email')
          $('#lbl_vmtovm_error_msg').show()
          e.preventDefault();

      }
     else if($('#task_email').is(':checked') &&  run($('#user_email').val()) == false){

          $('#lbl_vmtovm_error_msg_add').text('There is some problem in ur email')
          $('#lbl_vmtovm_error_msg').show()
          e.preventDefault();

    }
      else if (vm_s == "undefined"){
        $('#lbl_vmtovm_error_msg_add').text('Please select at least one virtual machine from the list')
          $('#lbl_vmtovm_error_msg').show()
          e.preventDefault();

        }
      else if ($('#hidden_error_field').val()){
         $('#lbl_vmtovm_error_msg_add').text('Duplicate label found, please give a different label')
          $('#lbl_vmtovm_error_msg').show()
        e.preventDefault();

    }
      }
  else {

           $('#lbl_vmtovm_error_msg').hide()

      }

})




    </script>
{% endblock %}

</html>



