{% load i18n %}



<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	{% block head %}
{{ wizard.form.media }}
<style>

#banner {
    padding: 0 0 0 0 !important;
}
.errorlist{
    font-weight: bold;
    color: orangered;

        }

</style>

	<head>
		<title>EMS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />

	</head>
{% endblock %}
{% block content %}

	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo">EMS</a>
				<nav class="right">
					<a href="{% url 'login_user' %}" class="button alt">Log in</a>
				</nav>
                <nav class="right" style="margin-right: 160px;">
					<a href="{% url 'signup_user' %}" class="button alt">Sign Up</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="{% url 'login_user' %}" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="content">

                    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                    <form action="" method="post">{% csrf_token %}
                    <table class="table table-hover" width="500" style="width: 500px; border: 1px solid; !important; margin-left: 410px; !important;">
                        <div style="margin: 0 auto; height: auto; position: relative "  class="modal2">
                        <div class="modal-header" style="height: 55px;">
                        <h2 style="text-align: center; width: 100%; margin: 12px 0; font-size: 20px;">Registration</h2>
                    </div>
                        </div>
                            {{ wizard.management_form }}
                            {% if wizard.form.forms %}
                                {{ wizard.form.management_form }}
                                {% for form in wizard.form.forms %}
                                    {{ form }}
                                {% endfor %}
                            {% else %}
                                {{ wizard.form }}
                            {% endif %}
                    </table>
                    {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" style="    margin-left: 419px;float: left;" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                    {% endif %}
                    <div style="margin-bottom: 400px">
                            <input  type="submit" value="{% trans "Next" %}"/>
                    </div>
                    </form>



				</div>
			</section>

		<!-- One -->

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery-1.8.3.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
{% endblock %}

</html>



